section {
	height: 96%;
    width: 96%;
    display: inline-block;
    background: #f7f7f7;
	position: absolute;
    left: 2%;
    top: 2%;
	padding:2%;
	overflow-y: auto;
	border-radius: 4px;
}
body{
	background-color: #1a8596;
}
.right{
	float:right;
}

.form-group>label{
	font-weight:500;
}
label.error{
	color: red; 
}
#formData {
	overflow-wrap: break-word;
}
